/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html {
  word-wrap: break-word;
  font-size: 1em;
}

/* Top level div, each represents a page */
.pagediv {
  min-height: 115vh;
}
