<div class="pagediv">
    <div class="container-fluid jumbotron text-center">
        <div class="pt-5 pb-5">
            <h1 class="text-center">My GitHub Repositories</h1>
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <!-- listing repositories details -->
        <div *ngFor="let r of repos">
            <div class="box shadow m-3 p-3" *ngIf="r">
                <h4>{{r.name}} <span class=" badge badge-success" *ngIf="r.isActive">ACTIVE</span>
                </h4>
                <p><strong>UPDATE:</strong> {{r.updatedTime}}</p>
                <p><strong>Description:</strong> {{r.description}}</p>
                <p><strong>Stars:</strong> {{r.stargazers_count}}</p>
                <p><strong>License:</strong> {{r.license.name}}</p>
                <p><strong>Language:</strong> {{r.language}}</p>
            </div>
        </div>
    </div>
</div>